<div class="col s12 m3">
  <div class="card">
    <a href= "/api/{{id}}">
    <div class="card-image">
      <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{poster_path}}">
      <a class="btn-floating halfway-fab waves-effect waves-light rating">{{vote_average}}</a>
      <span class='card-badge card-badge--action'>{{genreList}}</span>
    </div>
    <div class="card-content">
      <h4 class="card-title"><p>{{title}}</p></h4>
    </div>
    <div class="card-action d-flex justify-content-center align-items-center">
      {{#if inWatchlist}}
      <a class="waves-effect waves-light btn green remove-watchlist-btn" data-movieid="{{id}}"><i class="left fas fa-bookmark"></i>Remove from watchlist</a>
      {{else}}
      <a class="waves-effect waves-light btn green add-watchlist-btn" data-movieid="{{id}}"><i class="left far fa-bookmark"></i>Add to watchlist</a>
      {{/if}}
    </div>
    </a>
  </div>
</div>
